 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
   
    <title>Login</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/icon.jpg') }}">
    <style>
        body {
  background: #bac2ca;

}

.navbar-nav > li{
  padding-left:15px;
  padding-right:15px;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}
      </style>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container full-width">
          <a class="navbar-brand" href="#">
            <img
            src="https://thumbs.dreamstime.com/b/golden-p-g-pg-luxury-letter-logo-icon-graceful-royal-style-alphabet-arts-195182439.jpg"
            height="50px" width="70px" alt="Dispute Bills">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                
                  <li class="nav-item active" >
                    <a class="navbar-brand" href="/">Home</a>
                  </li>
                  <li class="nav-item active">
                    <a class="navbar-brand" href="/about">About</a>
                  </li>
                  <li class="nav-item active">
                    <a class="navbar-brand" href="/team">Team</a>
                  </li>
                  <li class="nav-item active">
                    <a class="navbar-brand" href="/contact">Contact</a>
                  </li>
                  <li class="nav-item active">
                    <a class="navbar-brand" href="#">Login</a>
                  </li>
                  <li class="nav-item active">
                    <a class="navbar-brand" href="/admin">Admin</a>
                  </li>
                  
                </ul>
               
              </div>
            </div>
        </nav>
    
        <body>
            <div class="container">
              <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                  <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                      <h1 class="card-title text-center mb-5 fw-bold fs-10">Log In</h1>
                      <div align = "center">
                        <h5 style="color:red">
                        <b> {{ errormsg }} </b>
                        </h5>
                     </div>
                     <br>
                      <form action="/login" method="POST">
                        
                        
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" name="username" id="floatingPassword" placeholder="soumya" required="required">
                          <label for="floatingUsername">Username</label>
                        </div>
    
    
                        <div class="form-floating mb-3">
                          <input type="password" class="form-control" name="userpass" id="floatingPassword" placeholder="abc@123" required="required">
                          <label for="floatingInput">Password</label>
                        </div>
                        
                        <!-- <div class="forgot float-right">
                            <a href="#" id="forgot-link">Forgot Password?</a>
                          </div>
                        <br> -->
                        </br>
                        <div class="d-grid">
                          <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign In
                            </button>
                        </div>
                        <br>
                        <div class="card-title text-center mb-5 fw-light fs-5">Don't have an account? <a href="/registration">Register here</a></div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </body>
    </body>
    </html>