<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

    <title>Upload</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/icon.jpg') }}">
    <style>
        body {
            background-color:rgb(212, 182, 142);

        }

        .navbar-nav>li {
            padding-left: 15px;
            padding-right: 15px;
        }

        .btn-login {
            font-size: 0.9rem;
            letter-spacing: 0.05rem;
            padding: 0.75rem 1rem;
        }

        .btn-google {
            color: white !important;
            background-color: #ea4335;
        }

        .btn-facebook {
            color: white !important;
            background-color: #3b5998;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container full-width">
            <a class="navbar-brand" href="#">
                <img
                src="https://thumbs.dreamstime.com/b/golden-p-g-pg-luxury-letter-logo-icon-graceful-royal-style-alphabet-arts-195182439.jpg"
                height="50px" width="70px" alt="Dispute Bills">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>

            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                    <li class="nav-item active">
                        <a class="navbar-brand" href="/userafterlogin">Picture</a>
                    </li>
                    <li class="nav-item active">
                        <a class="navbar-brand" href="/userprofile">Profile</a>
                    </li>
                    <li class="nav-item active">
                        <a class="navbar-brand" href="/update">Update</a>
                    </li>
                    <li class="nav-item active">
                        <a class="navbar-brand" href="/imageinfo">Your Image</a>
                    </li>
                    <li class="nav-item active">
                        <a class="navbar-brand" href="/logout">Logout</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card border-0 shadow rounded-3 my-5">
                        <div class="card-body p-4 p-sm-5">
                            <h1 class="card-title text-center mb-5 fw-bold fs-10">Upload Photo</h1>
                           <h2>
                            <p style="color:rgb(27, 221, 102);">
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                            <ul style="color:rgb(44, 207, 23);">
                                {% for message in messages %}
                                <li style="color:rgb(64, 219, 25);">{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endwith %}
                            </p>
                           </h2>
                            <form action="#" method="POST" enctype="multipart/form-data">

                                
                                <div class="form-floating mb-3">
                                    
                                    <!-- <input type="text" class="form-control" name="cata" id="floatingPassword"
                                        placeholder="soumya" required="required">
                                        
                                       
                                    <label for="floatingUsername">Catagory</label>
                             -->
                                <select name="cata" id="" class="form-control">
                                <option value="" disabled selected>Catagory</option>
                                <option value="nature">Nature</option>
                                <option value="animal">Animal</option>
                                <option value="tech">Technology</option>
                                <option value="food">Food</option>
                                <option value="car">Cars</option>
                                </select>
                                </div>


    
                               

                                <div class="form-floating mb-3">
                                    <input type="file" class="form-control" id="img" name="file" accept="image/*">
                                    <label for="img"></label>
                                </div>


                                <br>
                                <div class="d-grid">
                                    <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Upload
                                        
                                    </button>
                                </div>
                                <br>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</body>

</html>